@inject LedMatrixWeb.App.Services.LedMatrixService MatrixService

<td style="width: 20px; height: 20px; border: 1px solid #666; background-color: rgb(@red, @green, @blue);" onclick="@OnPixelClick"></td>

@functions{
    [Parameter]
    private int pickerRed { get; set; }

    [Parameter]
    private Action<int> pickerRedChanged { get; set; }

    [Parameter]
    private int pickerGreen { get; set; }

    [Parameter]
    private Action<int> pickerGreenChanged { get; set; }

    [Parameter]
    private int pickerBlue { get; set; }

    [Parameter]
    private Action<int> pickerBlueChanged { get; set; }

    [Parameter]
    private int x {get; set;}

    [Parameter]
    private Action<int> xChanged { get; set; }

    [Parameter]
    private int y {get; set;}

    [Parameter]
    private Action<int> yChanged { get; set; }

    private int red;
    private int green;
    private int blue;

    void OnPixelClick()
    {
        red = pickerRed;
        green = pickerGreen;
        blue = pickerBlue;

        MatrixService.SetPixel(x, y, new rpi_rgb_led_matrix_sharp.Color(red, green, blue));
    }
}